<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ancestry of Modern Multi-Role Military Aircraft</title>
        <style>
                .centertext {
                text-align: center;
            }

                .subtitle {
                font-weight: bold;
            }
                .indenttext {
                    text-indent: 2em;
            }

                div {
                margin-left: 15%;
                margin-right: 15%;
                border-style: hidden;
                padding-bottom: 5%;
            }
                .centerimg {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 60%;
           }
                p {
                    font-size: 1.2em;
          }
                h1 {
                    font-size: 3em;
                    text-align: center;
                }
                h2 {
                    font-size: 2.2em;
                    text-align: center;
                }
                h3 {
                    font-size: 2.2em:
                }
                .floaterL {
                    float: left;
                }
                .floaterR {
                    float: right;
                }
                body {
                    background-color: rgba(100, 140, 170, 0.49)
                }
                figure {
                    display: block;
  			        margin-left: auto;
 		 	        margin-right: auto;
                    width="50%"
                }
                }
                figcaption {
                    text-align: center;
                }
                 .smallfig {
                    margin-left: auto;
                    margin-right: auto;
                    width: 30%;
                }
        </style>
    </head>
