<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ancestry of Modern Multi-Role Military Aircraft</title>
        <style>
                .centertext {
                text-align: center;
            }

                .subtitle {
                font-weight: bold;
            }
                .indenttext {
                    text-indent: 2em;
            }

                div {
                margin-left: 15%;
                margin-right: 15%;
                border-style: hidden;
            }
                .centerimg {
                display: block;
                margin-left: 15%;
                margin-right: 15%;
                width: 70%;
           }
                p {
                    font-size: 1.2em;
          }
    
        </style>
    </head>
